body{
	background:#f5ebeb;
	font-family:Calibri;
	font-size:200%;
	text-align: center;
}
h1 {
	color:IndianRed;
	font-family:Calibri;
	font-size:100%;
	text-align: center;
	border:3px solid maroon;
}